@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --colecci-n-1-booleano: none;
  --primario: rgba(57, 75, 189, 1);
  --secundario: rgba(0, 0, 0, 1);
  --terciario: rgba(201, 201, 201, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease for;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease for;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

/* LoginInput Component Styles */
.login-input-container {
  position: relative;
}

.login-input-label {
  position: absolute;
  top: -30px;
  left: 24px;
  font-family: "Inter-Regular", Helvetica, sans-serif;
  font-weight: normal;
  color: black;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0;
}

.login-input-required {
  color: #ff0000;
  margin-left: 0.25rem;
}

.login-input-wrapper {
  position: relative;
  width: 100%;
  height: 70px;
}

.login-input-field {
  width: 90%;
  height: 80%;
  padding: 0 1.5rem;
  background-color: white;
  border-radius: 10px;
  border: 3px solid var(--primario);
  font-family: "Inter-Regular", Helvetica, sans-serif;
  font-weight: normal;
  color: #4f4f4f;
  font-size: 1.5rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  outline: none;
  margin-left: 20px;
}

.login-input-field::placeholder {
  color: #4f4f4f;
}

.login-input-icon-button {
  position: absolute;
  top: 45%;
  right: 1.5rem;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  z-index: 10;
}

.login-input-icon-container {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-input-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
