@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importar estilos de HomePage para las variables CSS */
@import "./app/pages/homepage-styles.css";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
