@tailwind base;
@tailwind components;
@tailwind utilities;

/* Importar estilos de HomePage para las variables CSS */
@import "./app/pages/general/HomePage/HomePage.css";

/* Reset Global para evitar desbordamientos */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
